<div class="pokemon-details-general-info-wrapper">
  <h3 class="pokemon-id">
    #{{formatId(pokemon.id)}}
  </h3>
  <h1 class="pokemon-name">
    {{upperFirstLetter(pokemon.name)}}
  </h1>
  <div class="pokemon-types">
    <p class="pokemon-type" *ngFor="let type of pokemon.types">{{upperFirstLetter(type.type.name)}}</p>
  </div>
  <div class="pokemon-sprite">
    <img [src]="pokemon.sprites.front_default" alt="">
  </div>
  <div class="pokemon-special-atacks">
    <h1>Ataques Especiais</h1>
    <div class="pokemon-special-atack" *ngFor="let ability of pokemon.abilities">
      <div class="pokemon-atack-divider"></div>
      <div class="pokemon-special-atack-stats">
        <p>{{upperFirstLetter(ability.ability.name)}}</p>
        <p>10 DMG</p>
        <div>
          <p class="pokemon-type">Grass</p>
        </div>
      </div>
    </div>
  </div>
</div>
