.mat-toolbar{
  justify-content: center;
  height: 3rem;
}
.pokehub-toolbar{
  justify-self: center;
  display: flex;
  justify-content: center;
}
.pokehub-toolbar-title{
}
.pokehub-toolbar-icon{
  height: 2rem;
  padding-right:0.5rem;
}

